@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Code+Pro:wght@400&display=swap");

body {
    font-family: "Open Sans", sans-serif;
}

.tsd-typography {
    line-height: 1.45em;
}

.col-content {
    max-width: 750px;
}

h2,
h3,
h4,
h5,
h6 {
    padding-top: 1em;
}

code,
pre {
    font-family: "Source Code Pro", monospace;
    font-size: 0.875em;
    border-radius: 3px;
    border: none;
}

code {
    padding: 0.1em 0.3em;
}

pre {
    padding: 1rem;
}

.tsd-signature {
    font-size: unset;
    font-family: "Source Code Pro", monospace;
}

.tsd-signature-type {
    font-style: unset;
}
