body {
    font-family: "Open Sans", sans-serif;
}

.tsd-typography {
    line-height: 1.45em;
}

.col-content {
    max-width: 750px;
}

h2,
h3,
h4,
h5,
h6 {
    padding-top: 1em;
}

code,
pre {
    font-family: "Source Code Pro", monospace;
    font-size: 0.875em;
    border-radius: 3px;
    border: none;
}

code {
    padding: 0.1em 0.3em;
}

pre {
    padding: 1rem;
}